{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "home/add_book.css" %}">
{% endblock %}

{% block content %}
<h1>Add a New Book</h1>
<form class="form_container" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Book</button>
</form>
{% if messages %}
  <ul class="message_container">
    {% for message in messages %}
       <li>{{message}}</li>
    {% endfor %}
  </ul>  
{% endif %}    
{% endblock %}